
<ul id = "piece_selector">
<% @user.pieces.each do |piece| %>
  <li value = <%= piece.id %> >
		<%= image_tag(piece.image.url(:thumb)) %> 
  </li>
<% end %>
</ul>

<%= form_for([@user, @user.outfits.build]) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="text">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div id = "hidden_fields">
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
