<tr>
  <td><%= image_tag @user.avatar.url(:thumb) %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.location %></td>
  <td><%= user.about %></td>
  <td><%= link_to 'Show', user %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
</tr>