<p id="notice"><%= notice %></p>

<div id = "user-info">

<span class = "avatar">
<%= image_tag @user.avatar.url(:profile) %>
</span>
<span class = "personal">
<p>
  <%= @user.name %>
</p>

<p>
<p>
  <%= @user.location %>
</p>

<p>
  <%= @user.about %>
</p>

</span>

<span class = "stats">

<%= render 'shared/stats' %>
<%= render 'follow_form' if signed_in? %>
<p><%= @user.pieces.count %> pieces
<%= link_to "View All", user_pieces_path(current_user) %>	
<%= link_to "New", new_user_piece_path(current_user) %>

</p>
<p><%= @user.outfits.count %> outfits
<%= link_to "View All", user_outfits_path(current_user) %>	
<%= link_to "New", new_user_outfit_path(current_user) %>	
</p>

</span>
<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Back', users_path %>

</div>

<div id = "feed">
	<ul>
	<%= @user.pieces.each do |piece| %>
			<%= render piece %>
	<% end %>
	</ui>
</div>